@use 'sass:map';
@use 'sass:math';
@forward 'sass:map';

$columns: 12;

$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
);

@mixin min($breakpoint) {
	@media (min-width: map.get($breakpoints, $breakpoint)) {
		@content;
	}
}

@mixin max($breakpoint) {
	@media (max-width: (map.get($breakpoints, $breakpoint) - 1)) {
		@content;
	}
}

@mixin row($gap-x, $gap-y) {
	@if $gap {
		--gap-x: #{$gap-x};
		--gap-y: #{$gap-y};
	}

	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--gap-y) * -1) calc(var(--gap-x) * -1);
}

@mixin col($size: 0) {
	@if $size == 0 {
		flex: 1 0 0;
		width: 100%;
		max-width: 100%;
	} @else if $size == auto {
		flex: 0 0 auto;
		max-width: 100%;
		width: auto;
	} @else {
		$width: math.percentage(math.div($size, $columns));

		flex: 0 0 $width;
		max-width: $width;
		width: 100%;
	}

	padding: var(--gap-y) var(--gap-x);
}
